.ekfw_list li h2{
    width: 83px;
    height: 79px;
    background: url("../../images/ekzxicon_list1.png")/*tpa=/images/ekzxicon_list1.png*/;
}
.ekfw_list li:nth-child(2) h2{
    width: 81px;
    height: 93px;
    background-position:-85px 0;
    margin-top: 54px;
}
.ekfw_list li:nth-child(3) h2{
    width: 86px;
    height: 85px;
    background-position:-165px 0;
}
.ekfw_list li:nth-child(4) h2{
    width: 85px;
    height: 79px;
    background-position: -262px 0;
}
.ekfw_list li:nth-child(5) h2{
    width: 93px;
    height: 81px;
    background-position: -353px 0;
}
.ekfw_bot .hy40 li:nth-child(1){
    padding-top: 45px;
}
.ekfw_bot .hy40 li:nth-child(1) div{
    width: 111px;
    height: 82px;
    background: url("../../images/ekzxicon_list1.png")/*tpa=/images/ekzxicon_list1.png*/ -446px 0;
}